:root {
  /* ### Primary */
  --very-dark-blue-bg: hsl(233, 47%, 7%);
  --dark-desaturated-blue-card-bg: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  /* ### Neutral */
  /* (main heading, stats) */
  --white: hsl(0, 0%, 100%);
  /* (main paragraph) */
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  /* (stat headings) */
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--very-dark-blue-bg);
  color: var(--slightly-transparent-white);
}

main {
  /* change to desktop */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* change to desktop */
  /* align-items: center; */
}

.card {
  display: flex;
  align-items: stretch;
  justify-content: center;
  max-width: 1110px;
  background-color: var(--dark-desaturated-blue-card-bg);
  border-radius: 1rem;
  overflow: hidden;
}

.card__images {
  position: relative;
}

.card__images::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--soft-violet);
  mix-blend-mode: multiply;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--soft-violet);
  opacity: 0.3;
}

.img__mobile {
  display: none;
}

.card__content {
  padding: 6rem;
}

.card__text {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
}

.title {
  font-size: 3rem;
  color: var(--white);
}

.title span {
  color: var(--soft-violet);
}

.description {
  font-size: 1.5rem;
  line-height: 1.6;
}

.card__stats {
  display: flex;
  justify-content: space-between;
}

.card__stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--white);
}

.name {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
}
